@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
    background: #083AA9;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    font-family: 'Work Sans'
}

.card {
    margin: 5em auto;
    width: 60%;
    height: 7em;
    background-color: #CFF5E7;
    border-radius: 15px;
}

.trackers {
    
    margin: 2em;

}

.goal {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #083AA9;
}