
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Work+Sans:wght@300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
    box-sizing: border-box;
    background-image: linear-gradient( 135deg, #6B73FF 10%, #2631fd 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    font-family: 'Work Sans'
}

li, a, button {
    font-size: 17px;
    text-decoration: none;
}

header {
    background-color: #1F4AAC ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 20px 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#logo {
    cursor: pointer;
    text-align: center;
    color: #81FBB8;
    height: 40px;
    width: 165px;
    border-radius: 15px;
    padding-top: 10px;
}

.navlinks {
    list-style: none;
    padding: 0;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;
    
}

.navlinks li a {
    color: #CFF5E7;
    transition: 0.5s;
    
}

.navlinks li a:hover {
    transition: 0.5s;
    color: #81FBB8;
    
}

button {
    border-radius: 15px;
    height: 35px;
    width: 120px;
    border: none;
    text-align: center;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    color: black;
    font-family: "Work Sans";
    transition: 0.5s;
}

i {
    font-size: 20px;
}

button:hover {
    
    background-color: #083AA9;
    cursor: pointer;
    transition: 0.5s;
}

a#selected {
    color: #FEB692
}

div.brand {
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
}
.titlecolor {
    color: #CFF5E7;
}

.icon {
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    top: -100px;
    

}

.icon i {
    position: relative;
    font-size: 40px;
    top: 25%;
}

#one {
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

#three {
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}



#habits{
    margin-top: 10em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    /* margin-top: 100px; */
    
}

.habit {
    width: 450px;
    height: 450px;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
    cursor: pointer;
}

.habit:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

#waterHabit {
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

#sleepHabit {
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.progress {
    background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
    position: relative;
    width: 90%;
    height: 70%; 
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: -70px;
}

h2 {
    position: relative;
    top: -70px;
}

h3 {
    color: white;
    position: relative;
    top: 10%;
}

div#numbercircle {
    top: 10%;
    position: relative;
    width: 125px;
    height: 125px;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    margin: 3em auto 0;
    border-radius: 50%;
}

h4.exercisegoal {
    position: relative;
    top: 12%;
    font-size: 80px;
    text-align: center;
    color: black;
    margin: 10px auto;
}

h3.exercisehour {
    top: 0;
    margin: 3em;
    
}

#sleep{
    align-items: center;
}

#sleepProgress{
    width: 200px;
    margin: 3em auto 1em;
    border-radius: 8px;
    row-gap: 30px;
    
}

.circular-progress {
    position: relative;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background: conic-gradient(#7367F0 30deg, lightgrey 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #083AA9;
}

.progress-value {
    position: relative;
    font-size: 20px;
    color: white;

}

#sleep h4 {
    font-family: 'Noto Sans';
    color: white;
    position: relative;
    top: 7%;
}

#profileButton {
    border-radius: 15px;
    height: 30px;
    width: 80px;
    border: none;
    text-align: center;
    background-color: #57BD54;
    color: #CFF5E7;
    font-family: "Work Sans";
    transition: 0.5s;
}


#profileButton:hover {
    background-color: #083AA9;
    cursor: pointer;
    transition: 0.5s;
}

#waterDrank{
    position: relative;
    top: 12%;
    color: black;
    font-size: 80px;
    margin: 10px auto;
    text-align: center;
}

.showDrink{
    top: 10%;
    position: relative;
    width: 125px;
    height: 125px;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    margin: 3em auto 0;
    border-radius: 50%;
}

.newGoal {
    
    border-radius: 15px;
    width: 200px; 
    height: 120px;
    color: black;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    font-family: 'Noto Sans';
    font-size: 20px;
}

#waterText {
    top: 0;
    margin: 3em;
}

.newGoal h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.newGoal h4 {
    margin-top: 0;
    font-family: 'Noto Sans';
    letter-spacing: 1px;
}

