@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");



#sleepProgress{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
    align-items: center;
    row-gap: 30px;

}

/* .circular-progress {
    position: relative;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: conic-gradient(#f0ff 30deg, lightgrey 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
} */

.circular-progress::before {
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #CFF5E7;
}

.progress-value {
    position: relative;

}

#displayAddTrackerForm {
    font-size: 30px;
    width: auto;
    height: auto;
}

.logSleep {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.sleepForm {
    align-content: center; /* doesn't work */
}

.bi-plus {
    font-size: 100px;
    padding: 0;
    margin: 0;
}

input[type=range] {
    width: 100%;
}

.newGoal {
    background-color: #6c9aff;
    border-radius: 50%;
    width: 150px; 
    height: 150px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.newGoal h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.newGoal h4 {
    margin-top: 0;
}